List Assignment

In [92]:
#Assignmenmt3-Go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()
list1 = [1,2,2.5,'Harry',True]
list2 = [1,3,33,0,4,7]
list1.remove(2)

list1.count(5)#count the total time the particular element is present...return 0 if none of that value is present
print("Before clearing the list:{}".format(list1))

#list1.clear()
print("After clearing the list:{}".format(list1))

list2.sort()#it will work with the same type of data
print(list2)

list1.reverse()#It will reverse the listing of elements
print(list1)

Before clearing the list:[1, 2.5, 'Harry', True]
After clearing the list:[1, 2.5, 'Harry', True]
[0, 1, 3, 4, 7, 33]
[True, 'Harry', 2.5, 1]

In [76]:
#Assignment4.1 - Add sublist(list2)
input_list = [1,2,[3,4,5,6],9]
list2 = [7,8]

input_list[2].append(list2)
print(input_list)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [91]:
#Assignment4.2 - Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l2=70
l1[2][2].append(l2)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

#Assignment5 - [Dictionary]

In [50]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
 
#Access Mike
dict1['april_batch']['student']['name']

#Access 80
dict1['april_batch']['student']['marks']['python']

#Chnage Mike to "Your_name"
dict1['april_batch']['student']['name']='Mohit_Sharma'
dict1['april_batch']

#Add ML to 80 and DL to 80
dict1['april_batch']['student']['marks']['ML']=80
dict1['april_batch']['student']['marks']['DL']=80
dict1['april_batch']

Before adding the value:(1, 2.5, 40, True, 'Test')
After adding the value:(1, 2.5, 40, True, 'Test', 22)
[1, 2.5, 40, True, 'Test', 22]
[2.5, 40, True, 'Test', 22]

#Assignment6 - [Tuples]

In [51]:

#Scenario 1: Add a value to a tuple

tup1 = (1,2.5,40,True,'Test')
list1 = list(tup1)
print("Before adding the value:{}".format(tup1))
list1.append(22)
tup1 = tuple(list1)
print("After adding the value:{}".format(tup1))

#Scenario2: Remove the element from a tuple
print(list1)
list1.remove(2.5)
tup1 = tuple(list1)
print("After deleting the value:{}".format(tup1))

Before adding the value:(1, 2.5, 40, True, 'Test')
After adding the value:(1, 2.5, 40, True, 'Test', 22)
[1, 2.5, 40, True, 'Test', 22]
After deleting the value:(1, 40, True, 'Test', 22)

Assignment7[SETS]-CHECK THE INBUILT FUNCTION

In [4]:
List=[1,2,3,2,4,5,6]
print(List)
Set = set(List)
print (Set)

[1, 2, 3, 2, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [11]:
#difference:values that are present in set1 but not in set2
set1={1,2,3,4,5}
set2={1,2,3,6,7,8,9}
set3 = set1.difference(set2)
print(set3)

{4, 5}

In [25]:
#symmetric difference:Values that are not present in both the sets
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5}
set3 = set1.symmetric_difference(set2)

if set3 == set():
    print("Both sets are same")
else:
    print("Both sets are different")

Both sets are same

Assignment8 - Inbuilt function with their differences..

Assignment9-If Else Statement

    Ask 2 numbers from users and store it in num1 and num2
    Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
    based on number given by user do the math operation

In [55]:
#As default data type of type is str we need to convert that in int
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
num3 = int(input("press-1 for add.\npress-2 for subtraction.\npress-3 for multiplication.\npress-4 for division."))

if(num3 == 1):
    num4 = (num1+num2)
if (num3 == 2):
    num4 = (num1 - num2)
if (num3 == 3):
    num4 = (num1*num2)
if (num3 == 4):
    num4 = (num1/num2)
    
    
print("Output for option {} is: {}".format(num3,num4))

Enter the first number:1
Enter the second number:2
press-1 for add.
press-2 for subtraction.
press-3 for multiplication.
press-4 for division.1
Output for:option 1 is: 3